@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ovo&display=swap');



.ovo-regular {
    font-family: "Ovo", serif;
    font-style: normal;
}

.regular {
    font-family: "Ovo", serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
  }